button img{
    background-color: transparent;
    height: 1.8em;
}
#lg2{
    width: 10em;
    margin-top: 10.7em;
    margin-left: 62em;
    z-index: 2;
}

#lg1{
  
}

#sp1{
    font-size: 1.5em;
    text-align: left;
    margin-top: 8em;
    margin-left: 27em;
    background-color: rgb(26, 192, 26);
    width: 35em;
    padding: 1em;
    border: 0.15em solid black;
    z-index: 0;
}

#separador1{
    background-color: red;
    margin-top: -0.3em;
    height: 3em;
}


@media screen and (max-width: 425px) {

    .contenedor{
        position: relative;
        display: inline-block;
        text-align: center;

    }

    #lg1{
        width: 30%;
        margin-top: 5%;
        margin-left: 0%;
        padding-bottom: 15%;
    }


    #sp1{
        text-align: left;
        margin-top: -90%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 5%;
        background-color: rgb(26, 192, 26);
        opacity: 85%;
        border: 0.15em solid black;
        width: 80%;
        font-size: 100%;
        z-index: 1;
        
    }

    .art1{
        background-image: url(../Multimedia/Banner2.jpg);
        background-position: center;
        padding-bottom: 5%;
        background-size: cover;
        padding-bottom: 10%;
    }
}