
/*Parametros generales de la web*/
*{
    margin:0;
}
/*Parámetros del menú de navbar*/
.dropdown,.dropdownZelda {
    position: relative;
    display: inline-block;
}
/*Botón de despligue con logotipo*/
.dropbtn,.dropdownZelda .dropbtn {
    background-color: transparent;
    color: white;
    padding: 0.7vw;
    font-size: 0.9vw;
    border: none;
    cursor: pointer;
}
/*Contenido del boton de despligue*/
.dropdown-content,.dropdownZelda .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
/*Links del del botón de despligue en incio*/
.dropdown-content a {
    color: white;
    padding: 1vw 1vw;
    text-decoration: none;
    font-weight: bold;
    display: block;
    background-color: red;
    font-size: 0.9vw;
    width: 20vw;
}

.dropdown-content a:hover {
    background-color: white;
    color: red;
    font-weight: bold;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: white;
    background-color: red;
}

/*Links del del botón de despligue en Zelda*/
.dropdownZelda .dropdown-content a{
    color: gold;
    padding: 1vw 1vw;
    text-decoration: none;
    font-weight: bold;
    display: block;
    background-color: #18473d;
    font-size: 0.9vw;
    width: 20vw;
}
.dropdownZelda .dropdown-content a:hover {
    background-color: #11342c;
    color: gold;
    font-weight: bold;
    
}

.dropdownZelda:hover .dropdown-content {
    display: block;
}

.dropdownZelda:hover .dropbtn {
    color: white;
    background-color: #18473d;
}
/*Parametros de color y tamaño de la barra de navegación*/
nav{
    background-color: red;
    height: 3.3vw;
}
/*Parametros de color y 
tamaño de la barra de navegación en Zelda*/
nav.Zelda{
    background-color: #18473d;
    height: 3.3vw;
}
/*Parámetros de la imagen de la barra de navegación*/
button img{
    background-color: transparent;
    height: 1.6vw;
}
/*Barra de navegación móvil oculta*/
.navmovil{
    display: none;
}

/*CSS Tamaño móvil*/
@media screen and (max-width: 426px) {
    /*Parámetros generales de la web*/
    *{
        margin:0;
    }
    /*Parámetros de la navbar*/
    nav {
        height: auto;
        background-color: none;
    }
    /*Boton de navegación oculto*/
    .dropdown {
        display: none;
    }
    /*Logo del menú movil, tamaño*/
    .logo img{
        width: 6em;
    }
    /*Parámetros de menu de movil*/
    .navmovil {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
    }
    /*Parámetros de los links de la navbar*/
    .navmovil li a {
        display: block;
        color: white;
        text-align: center;
        padding:2vw;
        text-decoration: none;
    }
    .navmovil li a#active {
        background-color: rgb(165, 161, 161);
        padding: 2vw;
        font-size: 4vw;
    }
    hr{
        color: black;
    }
}

