
*{
    margin:0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 0.7vw;
    font-size: 0.9vw;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20vw;
    margin-top: -0.9vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content a {
    color: gold;
    padding: 1vw 1vw;
    text-decoration: none;
    font-weight: bold;
    display: block;
    background-color: #18473d;
    font-size: 0.9vw;
    width: 20vw;
}

.dropdown-content a:hover {
    background-color: #11342c;
    color: gold;
    font-weight: bold;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: white;
    background-color: #18473d;
}
nav{
    background-color: #18473d;
    height: 3.3vw;
}

button img{
    background-color: transparent;
    height: 3vw;
    margin-top: -0.5vw;
}

.banner1{
    position: relative;
}

#banner1{
    width: 100%;
}

.navmovil{
    display: none;

}

#separador1{
    background-color: red;
    margin-top: -0.7vw;
    height: 3vw;
}
footer{
    position: absolute;
    display: flexbox;
    background-color: red;
    color: white;
    font-size: 0.7vw;
    text-align: left;
    width: 95.99%;
    padding: 2vw;

}

.social{
    width: 2vw;
    height: 2vw;
}
#bannermovil1{
    display:none;
}

@media screen and (max-width: 740px) {
    *{
        margin:0;
    }
    nav {
        height: auto;
        background-color: none;
    }

    .dropdown {
        display: none;
        position: absolute;
    }
    .logo img{
        width: 6em;
    }
    .navmovil {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .navmovil li a {
        display: block;
        color: white;
        text-align: center;
        padding: 1em 5em;
        text-decoration: none;
    }
    .navmovil li a#active {
        background-color: rgb(165, 161, 161);
        padding: 0.75em;
        font-size: 18px;
    }
    #lg3,#sp3{
        display: flex;
    }
    
}

