
/*Parametros de la web*/
*{
    margin:0;
}
/*Parámetros del menú de navbar*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 0.7vw;
    font-size: 0.9vw;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content a {
    color: white;
    padding: 1vw 1vw;
    text-decoration: none;
    font-weight: bold;
    display: block;
    background-color: red;
    font-size: 0.9vw;
    width: 20vw;
}

.dropdown-content a:hover {
    background-color: white;
    color: red;
    font-weight: bold;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: white;
    background-color: red;
}
/*Parámetros del fondo y tamaño navbar*/
nav{
    background-color: red;
    height: 3.3vw;
}

button img{
    background-color: transparent;
    height: 1.6vw;
}



/*Imagen y texto del primer article */
#lg1{
    display: flex;
    position: absolute;
    width: 70vw;
    margin-top: 2vw;
    margin-left: 15.5vw;
}

#sp1{
    display: flex;
    position: absolute;
    color: white;
    font-size: 1.25vw;
    text-align: left;
    margin-top: 4.3vw;
    margin-left: 28vw;
    width: 43.8vw;
    padding: 0.6vw;
    padding-bottom: 12vw;
    background-color: hsla(0, 0%, 0%, 0.57);
    line-height: 1.8vw;
}
/*Imagen y texto del segundo article*/
#disc{
    
    position: absolute;
    width: 12vw;
    height: 12vw;
    left: 69vw;
    top: 121.4vw;
}
#sp2{
    display: flex;
    position: absolute;
    color: white;
    font-size: 1.25vw;
    text-align: left;
    margin-top: 8.7vw;
    margin-left: 28.1vw;
    width: 43.8vw;
    padding: 1vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: hsla(180, 1%, 54%, 0.57);
    border: rgb(255, 255, 255) solid 0.5vw;
    line-height: 1.81vw;
}


/*Imagen y texto del tercer article*/
#lg3,#sp3{
    display: none;
}

/*Botom saber más*/
#more1{
    display: block;
    position: absolute;
    color: white;
    background-color: red;
    font-size: 1.2vw;
    width: 11vw;
    height: 4vw;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    left: 45vw;
    top: 27vw;
}

#more1 a{
    display: block;
    color: white;
    text-decoration: none;
}

#more1 a:hover{
    padding: 1.1vw;
    color: red;
    background-color: white;
    text-decoration: none;
}


/*Segundo boton saber más*/
#more2{
    display: block;
    position: absolute;
    color: white;
    background-color: red;
    font-size: 1.2vw;
    width: 11vw;
    height: 4vw;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    left: 45vw;
    top: 72.5vw;
}

#more2 a{
    display: block;
    color: white;
    text-decoration: none;
}

#more2 a:hover{
    padding: 1.1vw;
    color: red;
    background-color: white;
    text-decoration: none;
}


#sword{
    display: flex;
    position: absolute;
    width: 21vw;
    margin-top: -27vw;
    margin-left: 35vw;
    rotate: -90deg;
}

#sp3{
    display: flex;
    position: absolute;
    color: white;
    font-size: 1.25vw;
    text-align: left;
    margin-top: 8.7vw;
    margin-left: 28.1vw;
    width: 43.8vw;
    padding: 1vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: hsla(180, 1%, 54%, 0.57);
    border: rgb(255, 255, 255) solid 0.5vw;
    line-height: 1.81vw;
}

/*Tercer boton saber más*/
#more3{
    display: block;
    position: absolute;
    color: white;
    background-color: red;
    font-size: 1.2vw;
    width: 11vw;
    height: 4vw;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    left: 45vw;
    top: 108vw;
}

#more3 a{
    display: block;
    color: white;
    text-decoration: none;
}

#more3 a:hover{
    padding: 1.1vw;
    color: red;
    background-color: white;
    text-decoration: none;
}


#gorra{
    display: flex;
    position: absolute;
    width: 19vw;
    margin-top: -3.55vw;
    margin-left: 41vw;
    z-index: 2;

}
#nariz{
    position: absolute;
    width: 12vw;
    margin-top: 21.5vw;
    margin-left: 44.5vw;
    z-index: 2;
}


#sp4{
    display: flex;
    position: absolute;
    color: white;
    font-size: 1.25vw;
    text-align: left;
    margin-top: 8.7vw;
    margin-left: 28.1vw;
    width: 43.8vw;
    padding: 1vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: hsla(180, 1%, 54%, 0.57);
    border: rgb(255, 255, 255) solid 0.5vw;
    line-height: 1.81vw;
}

/*Cuarto boton saber más*/
#more4{
    display: block;
    position: absolute;
    color: white;
    background-color: red;
    font-size: 1.2vw;
    width: 11vw;
    height: 4vw;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    left: 45vw;
    top: 147vw;
}

#more4 a{
    display: block;
    color: white;
    text-decoration: none;
}

#more4 a:hover{
    padding: 1.1vw;
    color: red;
    background-color: white;
    text-decoration: none;
}

/*Banner de fondo 1*/
.banner1{
    position: relative;
}

#banner1{
    width: 100%;
}


.navmovil{
    display: none;

}
/*Separadro de contenido*/
#separador1{
    background-color: red;
    margin-top: -0.7vw;
    height: 3vw;
}


/*Pie de página*/
footer{
    position: absolute;
    display: flexbox;
    background-color: red;
    color: white;
    font-size: 0.7vw;
    text-align: left;
    width: 95.99%;
    padding: 2vw;

}
/*Iconos de las redes sociales*/
.social{
    width: 2vw;
    height: 2vw;
}

/*CSS Tamaño móvil*/
@media screen and (max-width: 740px) {
    *{
        margin:0;
    }
    nav {
        height: auto;
        background-color: none;
    }

    .dropdown {
        display: none;
        position: absolute;
    }
    .logo img{
        width: 6em;
    }
    .navmovil {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .navmovil li a {
        display: block;
        color: white;
        text-align: center;
        padding: 1em 5em;
        text-decoration: none;
    }
    .navmovil li a#active {
        background-color: rgb(165, 161, 161);
        padding: 0.75em;
        font-size: 18px;
    }
    #lg3,#sp3{
        display: flex;
    }



    /*Imagen y texto del primer article */
#lg1{
    display: flex;
    position: absolute;
    width: 11.3vw;
    margin-top: 6vw;
    margin-left: 8vw;
}
#lg2{
    display: flex;
    position: absolute;
    width: 11.3vw;
    margin-top: 3vw;
    margin-left: 82.6vw;
}

#sp1{
    display: flex;
    position: absolute;
    color: white;
    font-size: 2.7vw;
    text-align: left;
    margin-top: 6vw;
    margin-left: 19vw;
    width: 60vw;
    padding: 1vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: hsla(180, 1%, 54%, 0.57);
    border: black solid 1.14vw;
    line-height: 1.84vw;
}
}

