
/*Parámetros Generales de estilo de la web*/
*{
    margin:0;
}


/*Parametros de la navbar*/
.dropdown {
    position: relative;
    display: inline-block;
}

/*Botón de despligue con logotipo*/
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 0.7vw;
    font-size: 0.9vw;
    border: none;
    cursor: pointer;
}
/*Contenido del boton de despligue*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20vw;
    margin-top: -0.9vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
/*Links del del botón de despligue*/
.dropdown-content a {
    color: gold;
    padding: 1vw 1vw;
    text-decoration: none;
    font-weight: bold;
    display: block;
    background-color: #18473d;
    font-size: 0.9vw;
    width: 20vw;
}

.dropdown-content a:hover {
    background-color: #11342c;
    color: gold;
    font-weight: bold;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: white;
    background-color: #18473d;
}
/*Parametros de color y tamaño de la barra de navegación*/
nav{
    background-color: #18473d;
    height: 3.3vw;
}
/*Parámetros de la imagen de la barra de navegación*/
button img{
    background-color: transparent;
    height: 3vw;
    margin-top: -0.5vw;
}

/*Parámetros de la imagen de background */
.banner1{
    position: relative;
    width: 100%;
}

/*Barra de navegación móvil oculta*/
.navmovil{
    display: none;

}

/*Parámetros del footer, tamaño color etc.*/
footer{
    position: absolute;
    display: flexbox;
    background-color: #18473d;
    color: white;
    font-size: 0.7vw;
    text-align: left;
    width: 95.99%;
    padding: 2vw;

}
/*Tamaño de los logos de redes sociales*/
.social{
    width: 2vw;
    height: 2vw;
}

/*Diseño responsive de 740px a menos*/
@media screen and (max-width: 740px) {
    /*Parámetros generales de la web*/
    *{
        margin:0;
    }
    /*Parámetros de la navbar*/
    nav {
        height: auto;
        background-color: none;
    }
/*Boton de navegación oculto*/
    .dropdown {
        display: none;
        position: absolute;
    }
    /*Logo del menú movil, tamaño*/
    .logo img{
        width: 16vw;
    }
    /*Parámetros de menu de movil*/
    .navmovil {
        display: block;
        background-color: #11342c;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    /*Parámetros de los links de la navbar*/
    .navmovil li a {
        display: block;
        color: gold;
        text-align: center;
        padding: 2.5vw;
        text-decoration: none;
    }
    .navmovil li a#active {
        background-color: #18473d;
        padding: 0.1em;
        font-size: 18px;
    }
    /*Tamaño de los iconos de redes sociales*/
    .social{
        width: 5vw;
        height: 5vw;
    }
    /*Parámetros del footer*/
    footer{
        position: absolute;
        display: flexbox;
        background-color: #18473d;
        color: white;
        font-size: 2vw;
        text-align: left;
        width: 95.99%;
        padding: 2vw;
    
    }
    
}

