*{
    margin: 0;
}

#banner1{
    position: relative;
    z-index: 1;
}

#more1{
    position: absolute;
    display: block;
    color: gold;
    background-color: #18473d;
    font-size: 1.2vw;
    width: 11vw;
    height: 4vw;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    left: 44vw;
    top: 44vw;
    z-index: 2;
}
#more1 a{
    display: block;
    color: gold;
    text-decoration: none;
}

#more1 a:hover{
    padding: 1.1vw;
    color: gold;
    background-color: #11342c;
    text-decoration: none;
}

#img1{
    height: auto;
}